.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

.carousel-control-next,
.carousel-control-prev {
  width: 3%;
}

.carousel-control-next.btn:hover,
.carousel-control-prev.btn:hover {
  background-color: transparent;
}

#TrendingNow {
  width: 95%;
}

#carouselTrending {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }

  position: relative;

}

.movie-cover {
  transition: 0.3s;
  opacity: 0.7;
}

.movie-cover:hover {
  opacity: 1;
  transition: 0.3s;
  cursor: pointer;
  transform: scale(1.030);
  position: relative;
  z-index: 1;
}